<main>
  <div class="container">
    <div class="row mt-3">
      <div class="col">
        <form [formGroup]="form" (ngSubmit)="onSubmitBtn()">
          <div class="form-group">
            <label for="file">Image</label>
            <input type="file" id="file" name="file" accept="image/*" formControlName="imgFile" #imgFileInput>
          </div>
          <div class="form-group">
            <label for="uploader">Uploader</label>
            <input type="text" id="uploader" name="uploader" formControlName="uploader">
          </div>
          <div class="form-group">
            <label for="remark">Remark</label>
            <input type="text" id="remark" name="remark" formControlName="remark">
          </div>
          <button type="submit" [disabled]="!form.valid">Upload</button>
        </form>
      </div>
    </div>
    <div class="row mt-3" *ngIf="fileInfo">
      <div class="col">
        <p>Image is uploaded successfully!</p>
        <p>Bucket: {{ fileInfo.bucket }}</p>
        <p>Key: {{ fileInfo.key }} <button (click)="onGetBtn()">GET</button></p>
        <p>File Type: {{ fileInfo.metadata.mediaType }}</p>
        <p>File Size: {{ fileInfo.size }} bytes</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <img [src]="blob">
      </div>
    </div>
  </div>
</main>